[Desktop Entry]
Encoding=UTF-8
Name=FahMon
GenericName=FahMon
Comment=Monitor Folding@home clients locally and over a network
Exec=fahmon
Icon=fahmon
StartupNotify=false
Terminal=false
Type=Application
Categories=System;Monitor;GTK;X-MandrivaLinux-System-Monitoring;monitoring-mdk;
